<!doctype html>
<html ng-app="forecaster">
<head>
  <title>LOL - game forecaster</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- Angular Material Library -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


  <link rel="stylesheet" href="style.css"></script>
  <script src="ctrl.js"></script>

</head>
<body ng-controller="appCtrl">
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">LoL Forecaster</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="">Forecaster</a></li>
        <li><a href="stats.html">Statistics</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
        <li><a href="">Forecaster</a></li>
        <li><a href="stats.html">Statistics</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <br>

  <div class="container">
  <div class="row">
    <div class="col s12 l6 center">
      Blue Team
      <div class="row" ng-repeat="pos in blueComp">
        <div class="col s2"><br>{{pos.pos}}</div>
        <div class="col s5">
          <label>
            Name
            <span class="summoner-error" ng-if="pos.status == 'failed'">not found</span>
          </label>
          <input type="text" ng-model="pos.name" ng-change="findID(pos)" ng-model-options="{ updateOn: 'blur'}">
        </div>
        <div class="col s3">
          <label>Summoner id</label>
          <input type="text" ng-model="pos.id">
        </div>
        <div class="col s2">
          <div class="preloader-wrapper small active" ng-if="pos.status == 'loading'">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col s12 l6 center">
      Purple Team
      <div class="row" ng-repeat="pos in purpleComp">
        <div class="col s2"><br>{{pos.pos}}</div>
        <div class="col s5">
          <label>
            Name
            <span class="summoner-error" ng-if="pos.status == 'failed'">not found</span>
          </label>
          <input type="text" ng-model="pos.name" ng-change="findID(pos)" ng-model-options="{ updateOn: 'blur'}">
        </div>
        <div class="col s3">
          <label>Summoner id</label>
          <input type="text" ng-model="pos.id">
        </div>
        <div class="col s2">
          <div class="preloader-wrapper small active" ng-if="pos.status == 'loading'">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
    <div>
     <form>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea" ng-model="rawData"></textarea>
              <label for="textarea1">Raw Data</label>
            </div>
          </div>
        </form>
      </div>

      <button class="btn waves-effect waves-light" ng-class="dataReady? '' : 'disabled'" ng-click="dataReady && submitForm()">Forecast
        <i class="material-icons right">send</i>
      </button>
      <a class="waves-effect waves-light btn" ng-click="generateMock()">Fill mock data</a>
    </form>
  </div>
  <div ng-show="loading" class="center">
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="showResult">
    <div class="col s6 offset-s3">
      <table>
        <tbody>
          <tr>
            <td>Blue victory chance</td>
            <td>{{result.blue}}%</td>
          </tr>
          <tr>
            <td>Purple victory chance</td>
            <td>{{result.purple}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="init.js"></script>
</body>
</html>
